{% extends "base.html" %}

{% block content %}
            <div class="slider-container">
                <div id="carousel" class="carousel  slide carousel-fade" data-ride="carousel">

                    <ol class="carousel-indicators"></ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active">
                            <div class="carousel-background"><img src="img/slider-1.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Web Development</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat.
                                    </p>
                                    <a href="#" class="btn-get-started">Get Started</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-background"><img src="img/slider-2.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>App Development</h2>
                                    <p>
                                        Maecenas vel turpis quis lorem aliquam tempus quis non mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                    </p>
                                    <a href="#" class="btn-get-started">Get Started</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-background"><img src="img/slider-3.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Game Development</h2>
                                    <p>
                                        Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus
                                    </p>
                                    <a href="#" class="btn-get-started">Get Started</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon ion-md-arrow-back" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon ion-md-arrow-forward" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </section>
        <!-- Slider Section End-->

        <!-- About Us Section Start-->
        <section class="about">
            <div class="container">
                <header class="section-header">
                    <h3>About Us</h3>
                    <p>
                        Maecenas vel turpis quis lorem aliquam tempus quis non mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </header>

                <div class="row align-items-center about-row">
                    <div class="col-md-6">
                        <img src="img/about.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title"><a href="#">Welcome to Our Site</a></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula. Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat, pretium lorem id, porttitor libero. Suspendisse scelerisque nec arcu a malesuada. Nulla tempus dictum tristique.
                        </p>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="row about-cols">
                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-disc"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Our Mission</a></h2>
                            <p>
                                Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-eye"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Our Vision</a></h2>
                            <p>
                                Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-col">
                            <div class="img">
                                <img src="img/about-objective.jpg" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-options"></i></div>
                            </div>
                            <h2 class="title"><a href="#">Our Objective</a></h2>
                            <p>
                                Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->

        <!-- Services Section Start -->
        <section id="services" class="services">
            <div class="container">
                <header class="section-header">
                    <h3>Services</h3>
                    <p>
                        Integer sollicitudin sed nulla non consequat. Nullam vitae erat quis leo accumsan ullamcorper. Suspendisse leo purus, pellentesque posuere.
                    </p>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-desktop"></i>
                            <h4><a href="">Web Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-laptop"></i>
                            <h4><a href="">Web Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-tablet-portrait"></i>
                            <h4><a href="">App Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-phone-portrait"></i>
                            <h4><a href="">App Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-desktop"></i>
                            <h4><a href="">Web Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-laptop"></i>
                            <h4><a href="">Web Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-tablet-portrait"></i>
                            <h4><a href="">App Design</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="ion-ios-phone-portrait"></i>
                            <h4><a href="">App Development</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->


        <!--Pricing Section start-->
        <section class="pricing">
            <div class="container">
                <header class="section-header">
                    <h3>Our Pricing</h3>
                    <p>
                        Nulla in est tincidunt, volutpat mi quis, gravida tortor. Suspendisse potenti. Nullam ornare, dui a vulputate mollis, est lorem ultrices neque.
                    </p>
                </header>
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-content">
                            <div class="price-plan">
                                <p class="price-title">Silver</p>
                                <h2 class="price-amount">9.<span>99</span></h2>
                                <p class="price-date">Per Month</p>
                            </div>
                            <ul class="price-details">
                                <li><i class="ion-md-checkmark"></i><strong>HTML5</strong> and <strong>CSS3</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Bootstrap 4</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Well-commented</strong> code</li>
                                <li><i class="ion-md-close"></i><strong>IonIcons</strong> integrated</li>
                                <li><i class="ion-md-close"></i>Free <strong>Google Font</strong> integrated</li>
                                <li><i class="ion-md-close"></i><strong>Responsive</strong> design</li>
                            </ul>
                            <a href="#" class="btn mian-btn price-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-content features-price">
                            <div class="price-plan">
                                <p class="price-title">Gold</p>
                                <h2 class="price-amount">19.<span>99</span></h2>
                                <p class="price-date">Per Month</p>
                            </div>
                            <ul class="price-details">
                                <li><i class="ion-md-checkmark"></i><strong>HTML5</strong> and <strong>CSS3</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Bootstrap 4</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Well-commented</strong> code</li>
                                <li><i class="ion-md-checkmark"></i><strong>IonIcons</strong> integrated</li>
                                <li><i class="ion-md-checkmark"></i>Free <strong>Google Font</strong> integrated</li>
                                <li><i class="ion-md-close"></i><strong>Responsive</strong> design</li>
                            </ul>
                            <a href="#" class="btn mian-btn price-btn features-price-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-content">
                            <div class="price-plan">
                                <p class="price-title">Platinum</p>
                                <h2 class="price-amount">29.<span>99</span></h2>
                                <p class="price-date">Per Month</p>
                            </div>
                            <ul class="price-details">
                                <li><i class="ion-md-checkmark"></i><strong>HTML5</strong> and <strong>CSS3</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Bootstrap 4</strong></li>
                                <li><i class="ion-md-checkmark"></i><strong>Well-commented</strong> code</li>
                                <li><i class="ion-md-checkmark"></i><strong>IonIcons</strong> integrated</li>
                                <li><i class="ion-md-checkmark"></i>Free <strong>Google Font</strong> integrated</li>
                                <li><i class="ion-md-checkmark"></i><strong>Responsive</strong> design</li>
                            </ul>
                            <a href="#" class="btn mian-btn price-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Pricing Section End-->

       
        
      

        <!-- Footer Start -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-info">
                            <h3>GO GREEN</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a tortor commodo, sollicitudin velit nec, lobortis erat. Sed rutrum metus ac augue scelerisque, vel commodo erat commodo. Mauris quis mattis sem. Maecenas dictum nunc.
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>About Us</h4>
                            <ul>
                                <li><i class="ion-md-arrow-dropright"></i> <a href="#">Home</a></li>
                                <li><i class="ion-md-arrow-dropright"></i> <a href="#">About us</a></li>
                                <li><i class="ion-md-arrow-dropright"></i> <a href="#">Our services</a></li>
                                <li><i class="ion-md-arrow-dropright"></i> <a href="#">Terms & condition</a></li>
                                <li><i class="ion-md-arrow-dropright"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                Your Location<br>
                                Your City<br>
                                Your Country <br>
                                <strong>Phone:</strong> +123-456-7890<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>

                            <div class="social-links">
                                <a href="#"><i class="ion-logo-twitter"></i></a>
                                <a href="#"><i class="ion-logo-facebook"></i></a>
                                <a href="#"><i class="ion-logo-linkedin"></i></a>
                                <a href="#"><i class="ion-logo-instagram"></i></a>
                                <a href="#"><i class="ion-logo-youtube"></i></a>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Subscription</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit"  value="Subscribe">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <a href="#">Your Site Name</a>. All Rights Reserved<br>
					Template By <a href="#">@SudeepAcharjee</a>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="ion-md-arrow-dropup"></i></a>


        <!-- Main Javascript File -->
        <script src="static/main.js"></script>
{% endblock %}
